body {
}

.topNav {
  background-color: gray;
  width: 100%;
  /* position: fixed; Makes navbar sticky but also covers some of the first content*/
}

.topNav-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  justify-content: center;
  margin-bottom: 0;
}

.topNav-link {
  background-color: aquamarine;
  list-style: none;
  padding: 50px;
}

.topNav-link a {
  color: black;
  text-decoration: none;
  font-size: 2em;
}

.card {
}

div {
  font-size: 14px;
  letter-spacing: 2px;
}
