body {
  margin: 0;
}

.topNav {
  background-color: #1c2387;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.topNav-list {
  display: flex;
  justify-content: center;
}

.topNav-link {
  background-color: #1c2387;
  list-style: none;
  padding: 20px;
  margin-left: 10em;
  margin-right: 10em;
}

label {
  color: black;
}

.topNav-link a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
}

.topNav a:active {
  background-color: var(--orange);
  color: var(--black);
}

.card-text {
  color: black;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

img {
  border-radius: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  padding-top: 120px;
}

#topTag {
  font-size: 3em;
  padding-top: 100px;
  padding-bottom: 30px;
}

#lastTag {
  font-size: 3em;
  padding-top: 30px;
}

div {
  font-size: 18px;
  letter-spacing: 2px;
}
